<p id="notice"><%= notice %></p>
<div class="headline_main">
  <div class="headline_sec">Our Organizations</div>
    <% @services.each do |service| %>
      <%= render partial: 'services/service_title', locals: {service: service} %>
      <p>
      <%= image_tag(service.picture, style: "max-width: 100px") %>
      <p>
      <p>
      <%= service.content %>
      <p>
      <%= link_to 'Show', service %>
      <%= link_to 'Edit', edit_service_path(service) %>
      <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
    <% end %>
<br>
<%= link_to 'New Service', new_service_path %>
</div>