<p id="notice"><%= notice %></p>

<p>
  <%= @service.title %>
</p>

<p>
  <%= image_tag(@service.picture, style: "max-width: 400px") if @service.picture.attached? %>
</p>

<p>
  <%= @service.content %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>

<h2>Categories</h2>

<%= render partial: 'categories/form', locals: {category: @new_category} %>

<%= @service_categories.each do |category| %>
  <%= render partial: 'categories/category', locals: {category: category} %>
<% end %>
