<header class="header">
    <div class="container">
        <div class="header_banner">
        <a class="log" href="/">EventAgency</a>
            <nav class="nav">
            <%= link_to 'Organizations', services_path, class:"nav_color" %>
            <% if user_signed_in? %>
              <%= link_to 'My events', events_path, class:"nav_color" %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav_color" %>
              <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav_color" %>
            <% else %>
              <%= link_to 'Sign Up', new_user_registration_path, class:"nav_color" %>
              <%= link_to 'Sign In', user_session_path, class:"nav_color" %>
            <% end %>

            </nav>
        </div>
    </div>
</header>