<div class="headline">
    <div class="container">
       <div class="headline_main">
        <div class="headline_first">Who we are</div>
        <div class="headline_sec">STORY ABOUT US</div>
        <div class="headline_text">
        We create events that our clients proudly share with their friends and colleagues.
        
        We strive to creatively and creatively reveal each event, optimize costs and take responsibility for solving all organizational issues.
        
        Thanks to our vast experience, we offer solutions that are unique in their scale and complexity, being careful about the little things.
        
        We know everything about what your ideal holiday should be!</div>
        </div>
    </div>
</div>
<div class="info">
    <div class="container">
        <div class="inforamation">
            <div class="inf_item">
                <div class="numbers">24/7</div>
                <div class="letters">in touch</div>
            </div>
            <div class="inf_item">
                <div class="numbers">412</div>
                <div class="letters">happy client</div>
            </div>
            <div class="inf_item">
                <div class="numbers">22</div>
                <div class="letters">years we make you happy</div>
            </div>
            <div class="inf_item">
                <div class="numbers">99</div>
                <div class="letters">award winner</div>
            </div>
            <div class="inf_item">
                <div class="numbers">24</div>
                <div class="letters">partners</div>
            </div>
        </div>
    </div>
</div>

<div class="services">
   <div class="container">
       <div class="headline_main">
        <div class="headline_first">What can we offer for you</div>
        <div class="headline_sec">EVENT AGENCY SERVICES</div>
    </div>
    <div class="work">
        <div class="work_col">
            <div class="work_item">
            <%= image_tag "corporate.jpg", class: "work_img" %>
                <div class="work_info">
                    <div class="work_titel">corporate parties</div>
                    <%= link_to 'learn more', services_url, class:"work_text"%>
                </div>
            </div>
               <div class="work_item">
               <%= image_tag "happy_birthdays.jpg", class: "work_img" %>
                <div class="work_info">
                    <div class="work_titel">happy birthdays</div>
                    <%= link_to 'learn more', services_url, class:"work_text"%>
                </div>
            </div>

        </div>
        <div class="work_col">
               <div class="work_item">
               <%= image_tag "new_year.jpg", class: "work_img" %>
                <div class="work_info">
                    <div class="work_titel">happy new year</div>
                    <%= link_to 'learn more', services_url, class:"work_text"%>
                </div>
            </div>
               <div class="work_item">
               <%= image_tag "wedding.jpg", class: "work_img" %>                <div class="work_info">
                    <div class="work_titel">weddings</div>
                    <%= link_to 'learn more', services_url, class:"work_text"%>
                </div>
            </div>
          </div>
          <div class="work_col">
            <div class="work_item">
              <%= image_tag "children_holidays.jpg", class: "work_img" %>
              <div class="work_info">
                <div class="work_titel">children holidays</div>
                <%= link_to 'learn more', services_url, class:"work_text"%>
              </div>
            </div>
          <div class="work_item">
          <%= image_tag "conferences.jpg", class: "work_img" %>                <div class="work_info">
               <div class="work_titel">conferences</div>
               <%= link_to 'learn more', services_url, class:"work_text"%>
           </div>
       </div>
     </div>
        <div class="work_col">
               <div class="work_item">
               <%= image_tag "graduation.jpg", class: "work_img" %>
                <div class="work_info">
                    <div class="work_titel">school and student graduations</div>
                    <%= link_to 'learn more', services_url, class:"work_text"%>
                </div>
            </div>
               <div class="work_item">
               <%= image_tag "family_holidays.jpg", class: "work_img" %>
                <div class="work_info">
                    <div class="work_titel">family holidays</div>
                    <%= link_to 'learn more', services_url, class:"work_text"%>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
       <div class="footer_item">
          <div class="footer_col first">
               <div class="footer_mogo ">EventAgency</div>
             <div class="footer_text">Why do clients choose us?
              <br>
              <p>Each customer is accompanied by a personal manager.</p>
              <p>Our clients are not just people, types of services. These are our friends, our family. And the family is all the best.</p>
              <p>Flexibility for evolution. Our team quickly adjusts to new conditions.</p>
              <p>Affordable prices for organizing parties and events.</p>
              <p>The deadline is above all. We do everything on time.</p>
                </div>
            </div>
           <div class="footer_col sec">
               <div class="footer_titel">blogs</div>
               <div class="blogs">
                   <div class="blogs_item">
                   <%= image_tag "foo1.jpg", class: "blogs_img size" %>
                       <img class="blogs_img" src="img/blogs1.png" alt="">
                       <div class="blogs_c">
                       <div class="blogs_text">Belarusian holiday for everyone </div>
                           <div class="blogs_date">Jan 9, 2022</div>
                       </div>
                   </div>
                   <div class="blogs_item">
                   <%= image_tag "foo2.jpg", class: "blogs_img size" %>
                       <div class="blogs_c">
                       <div class="blogs_text">We celebrate the New Year with our family</div>
                           <div class="blogs_date">Dec 31, 2021</div>
                       </div>
                   </div>
                   <div class="blogs_item">
                   <%= image_tag "foo3.jpg", class: "blogs_img size" %>
                       <div class="blogs_c">
                       <div class="blogs_text">Building sandcastles and having fun</div>
                           <div class="blogs_date">Dec 30, 2021</div>
                       </div>
                   </div>
               </div>
            </div>
            <div class="footer_col th">
                <div class="footer_titel">instagram</div>
                    <div class="inst">
                    <%= image_tag "inst1.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst2.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst3.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst4.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst5.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst6.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst7.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst8.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst9.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst10.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst11.jpeg", class: "inst_ing inst_size" %>
                    <%= image_tag "inst12.jpeg", class: "inst_ing inst_size" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="footer_end">
    <div class="container">
        <div class="footer_end_text">Copiright © 2000-2022 - EventAgency  <span class="footer_end_red">Laaqiq</span></div>
    </div>
</div>