<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@event.picture, style: "max-width: 400px") if @event.picture.attached? %>
</p>

<p>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
